/* Reset margins and padding */
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: url("/public/images/bg.jpg");
  background-size: cover; /* Ensure the image covers the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Ensure it doesn't repeat */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
